.app-container {
  width: 400px;
  margin: 40px auto;
  text-align: center;
  font-family: Georgia, serif;
  background-color: aliceblue;
  padding: 25px 25px;
  border-radius: 20px;
}

body{
  background-image: url('to-do-list.png');
  background-size:cover;
}

h1{
  color: #72CCE6;
}

.todo-form {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 8px;
}

button {
  margin: 5px;
  padding: 6px 10px;
  cursor: pointer;
  background-color: #add3ff; 
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  border: 2px solid;
  border-color: #72CCE6;
  overflow: hidden;
}

th, td {
  border: 1px solid #999;
  padding: 8px;
}

th {
  background-color: #f0f0f0;
}

td{
  color: black;
  background-color: antiquewhite;
}

.completed td {
  text-decoration: line-through;
  color: #add3ff; 
  opacity: 0.7;
}

.button{
  border-spacing: 0;
  border-radius: 15px;
  box-shadow: black;
  border:#999;
  font-size: 15px;
  padding: 7px;
  font-family: Georgia, serif;
}

.button:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

